header{
    display: grid;
    justify-content: center;

    .bloque1, .bloque2, .bloque3{
        background: black;
        border: 3px solid goldenrod; 
        color: white;
        text-align: center;
        transform: skew(-5deg);
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding: 20px;
        margin: 10px;
        grid-column: span 1;
        overflow: hidden;
     
        img{
            filter: drop-shadow(0 0 0.75rem white);
        }
    }

    .bloque4{
        background: white;
        border: 3px solid black; 
        text-align: center;
        transform: skew(-5deg);
        padding: 20px;
        margin: 10px;
        
        overflow: hidden;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;

        #nombre{
            font-family: 'Righteous', sans-serif;
        }
    }
}